body {
background-color: rgb(0, 0, 0);
color: rgb(154, 80, 80);
}

h1 {color: rgb(255, 255, 255)
    
    ;}

#container {
    background-color: #ffffff;
    width: 500px;
    margin: 20px auto;
    border: 5px solid #D93644;
    padding: 20px;
 }

 header h2 {
text-align: center;
color: #D97777;
font-size: 30px;
 }

 nav {
text-align: center;
border-top: 2px solid #D97777;
border-bottom: 2px solid #D97777;
padding: 20px 0;
font-size: 20px;

 }

 ul {
color: #4c0c0c;
border-top: 2px solid #D97777;
border-bottom: 2px solid #D97777;
padding: 20px 0;
margin: 0 20px;
text-align: center;
font-size: 20px;

 }
nav a {
color: #D97777;
font-size: 20px;
margin: 0 20px;

}

nav a:hover { 
color: #D97777;
text-decoration: none;

}

main h2 {
color: firebrick;
text-align: center;
}

main img {
 display: block;
 margin: 20px auto;
 width: 300px;

}
main h3 {
font-size: 20px;
color: firebrick;

}